<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malejandrodev.splashapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.malejandrodev.splashapp.MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malejandrodev.splashapp.Provocador_de_anr"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_provocador_de_anr"
            android:parentActivityName="com.malejandrodev.splashapp.MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.malejandrodev.splashapp.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name="com.malejandrodev.splashapp.ThreadParaEvitarAnrActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_thread_para_evitar_anr"
            android:parentActivityName="com.malejandrodev.splashapp.MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.malejandrodev.splashapp.MenuPrincipalActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malejandrodev.splashapp.StreamingAudioPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_streaming_audio_player"
            android:parentActivityName="com.malejandrodev.splashapp.MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.malejandrodev.splashapp.MenuPrincipalActivity" />
        </activity>
        <activity
            android:name="com.malejandrodev.splashapp.StreamingServiceActivity"
            android:label="@string/title_activity_streaming_service"
            android:parentActivityName="com.malejandrodev.splashapp.MenuPrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.malejandrodev.splashapp.MenuPrincipalActivity" />
        </activity>

        <service
            android:name="com.malejandrodev.splashapp.AudioStreamingService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
